.history-item-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-right: 20px;
}
.logo-image {
  width: 24px;
  margin-right: 5px;
}
.title {
  color: #475569;
  font-weight: 600;
  font-size: 17px;
  margin-right: 5px;
}
.domain-name {
  font-size: 15px;
}
.delete-image {
  width: 20px;
  height: 20px;
}
.card {
  display: flex;
  align-items: center;
}
.time {
  margin-right: 20px;
  font-weight: 600;
  font-size: 16px;
}
